raiz/src/salon.dtd

<!ELEMENT SALON (ALUMNO+) >
<!ELEMENT ALUMNO (NOMBRE, GENERO, FECHA_NAC, AMIGOS*, EDAD?, CARRERA?) >
<!ATTLIST ALUMNO COD CDATA #REQUIRED>
<!ELEMENT NOMBRE (#PCDATA) >
<!ELEMENT GENERO (#PCDATA) >
<!ELEMENT FECHA_NAC (#PCDATA) >
<!ELEMENT AMIGOS (#PCDATA) >
<!ELEMENT EDAD (#PCDATA) >
<!ELEMENT CARRERA (#PCDATA) >
