raiz/src/XMLSchemaMuñecas.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SALON">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ALUMNO" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NOMBRE" type="xs:string"/>
                            <xs:element name="GENERO" type="xs:string"/>
                            <xs:element name="FECHA_NAC" type="xs:date"/>
                            <xs:element name="AMIGOS" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="EDAD" type="xs:string" minOccurs="0"/>
                            <xs:element name="CARRERA" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="COD" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
