raiz/src/XMLSchemaPlano.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SALON">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ALUMNO" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ALUMNO">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NOMBRE"/>
                <xs:element ref="GENERO"/>
                <xs:element ref="FECHA_NAC"/>
                <xs:element ref="AMIGOS" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="EDAD" minOccurs="0"/>
                <xs:element ref="CARRERA" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="COD" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name=""> </xs:simpleType>

    <xs:element name="NOMBRE" type="xs:string"/>
    <xs:element name="GENERO" type="xs:string"/>
    <xs:element name="FECHA_NAC" type="xs:date"/>
    <xs:element name="AMIGOS" type="xs:string"/>
    <xs:element name="EDAD" type="xs:string"/>
    <xs:element name="CARRERA" type="xs:string"/>
</xs:schema>
